In [ ]:
2+1

In [ ]:
2-1

In [ ]:
2*2

In [ ]:
3/2

Modulo or "Mod" Operator

In [8]:
7/4

1.75

In [9]:
7%4

3

In [10]:
50 % 5

0

In [11]:
23 % 2

1

In [12]:
2 ** 3

8

In [13]:
2 + 10 * 10 + 3

105

In [14]:
(2 + 10) * (10 + 3)

156

variable assignment

In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 10

In [4]:
a

10

In [5]:
a

10

In [6]:
a+a

20

In [7]:
a = a + a

In [8]:
a

20

In [9]:
a

20

In [10]:
type(a)

int

In [11]:
a = 30.1

In [12]:
type(a)

float

In [13]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [14]:
my_taxes

10.0

Strings

In [15]:
hw = "hello world"

In [16]:
print(hw)

hello world

In [17]:
"hello world one"
"hello world two"

'hello world two'

In [19]:
print("Hello world one")
print("hello world two")

Hello world one
hello world two

In [20]:
print('hello \nworld')

hello
world

In [21]:
len('hello')

5

Splicing Strings

In [22]:
mystring = "Hello World"

In [23]:
mystring[0]

'H'

In [24]:
mystring[8]

'r'

In [25]:
mystring[9]

'l'

In [26]:
mystring[-1]

'd'

In [27]:
mystring[-3]

'r'

In [28]:
mystring = 'abcdefghijk'

In [29]:
mystring

'abcdefghijk'

In [30]:
mystring[2:]

'cdefghijk'

In [31]:
mystring[:3]

'abc'

In [32]:
mystring[null:3]

NameError: name 'null' is not defined

In [33]:
mystring[3:6]

'def'

In [34]:
mystring[1:3]

'bc'

In [36]:
mystring[::]

'abcdefghijk'

In [37]:
mystring[::2]

'acegik'

In [38]:
mystring[::3]

'adgj'

In [39]:
mystring[2:7:2]

'ceg'

In [40]:
mystring[::-1]

'kjihgfedcba'

Immutability

In [41]:
name = "Sam"

In [43]:
# name[0] = 'P'

In [45]:
last_letters = name[1:]

In [46]:
last_letters

'am'

In [47]:
'P' + last_letters

'Pam'

In [48]:
letter = "z"

In [49]:
letter * 10

'zzzzzzzzzz'

In [50]:
x = 'Hello World'

In [51]:
x.upper()

'HELLO WORLD'

In [52]:
x

'Hello World'

In [53]:
x.lower()

'hello world'

In [54]:
x.split()

['Hello', 'World']

String formatting

In [56]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [57]:
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [58]:
print("The {q} {b} {f}".format(f="fox", b="brown", q="quick"))

The quick brown fox

In [59]:
result = 100/777

In [60]:
result

0.1287001287001287

In [63]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [64]:
name = "Mike"

In [65]:
print(f"Hello, my name is {name}")

Hello, my name is Mike

In [66]:
age = 34

In [67]:
print(f"{name} is {age} years old")

Mike is 34 years old

Lists

In [68]:
my_list = [1, 2, 3]

In [69]:
my_list = ['String', 100, 23.2]

In [70]:
len(my_list)

3

In [71]:
my_list = ['one', 'two', 'three']

In [72]:
my_list[0]

'one'

In [73]:
my_list[1:]

['two', 'three']

In [74]:
another_list = ['four', 'five']

In [75]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [76]:
new_list = my_list + another_list

In [77]:
new_list

['one', 'two', 'three', 'four', 'five']

In [78]:
new_list[0] = "ONE"

In [79]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [80]:
new_list.append('six')

In [81]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [83]:
new_list.pop()

'five'

Dictionaries

In [85]:
my_dict = {'key1':'value1','key2':'value2'}

In [86]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [87]:
my_dict['key1']

'value1'